<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="icon" href="/img/pic2.png">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This weather app is one of best free weather apps with full features: Local weather, weather map (weather map service) and weather widgets.
        Forecastle: Forecast now, hourly forecast and daily forecast app</p>
    <h4> Created By:  {{createdBy}}</h4>
    <img class="classNameForIMG" src="img/pic3.jpg">
    </div>
    
    {{>footer}}
</body>
</html>