<header>
    <h1>{{title}}</h1>


    <div class="fixed-header active inherited-styles-for-exported-element">
        <div class="header-logo-wrapper">
            <h3 class="logo">
                <img src="/img/pic2.png" alt="CSS Scan logo" class="logo-img">
                <span>Weather</span> App <span>live</span>
            </h3>
        </div>
        <div class="header-buttons-wrapper">
            <a href="/" class="demo-btn">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </div>
</header>